
table {
   border-collapse: collapse;
   border: 3px solid grey;
   width: 60%;
   margin: auto;
   margin-top: 20px;
   
}


th {
   width: 10%;
   border: 1px solid grey;
   padding: 10px 15px;
}



td:first-child {
   width: 30%;
   border: 1px solid grey;
   padding: 10px 15px;
}


caption {
   padding: 20px;
   text-align: center;
   padding: 10px 0;
   font-size: 30px;
   font-weight: bolder;
}